@charset "UTF-8";

.notice-table-detail {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.notice-table-detail th {
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    padding: 16px 0;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
}

.btn_notice_list {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.btn_notice_list a {
	display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 42px;
    line-height: 42px;
    width: 110px;
    background-color: #666666;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn_notice_list a:hover {
	background-color: #333333;
}
